.Layout {
  padding: 20px 40px;
  width: 100%;
}

.Header {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: rgb(243, 243, 243);
  border-radius: 12px 12px 0 0;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.pageTitle {
  font-weight: bolder;
  font-size: x-large;
}

.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 300ms linear;
  padding: 8px 12px;
  border-radius: 8.5px;
  font-weight: bolder;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  color: black;

  &:hover {
    scale: 105%;
    background-color: black;
    color: white;
  }
}

.history {
  height: 40px;
  cursor: pointer;
  transition: all 300ms linear;
  padding: 8px 12px;
  border-radius: 8.5px;
  font-weight: bolder;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  color: black;

  &:hover {
    scale: 105%;
    background-color: black;
    color: white;
  }
}
