.Layout {
  padding: 20px 40px;
  width: 100%;
}

.Header {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: rgb(243, 243, 243);
  border-radius: 12px 12px 0 0;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.pageTitle {
  font-weight: bolder;
  font-size: x-large;
}

.btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 300ms linear;
  padding: 8px 12px;
  border-radius: 8.5px;
  font-weight: bolder;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  color: black;

  &:hover {
    scale: 105%;
    background-color: black;
    color: white;
  }
}

.history {
  height: 40px;
  cursor: pointer;
  transition: all 300ms linear;
  padding: 8px 12px;
  border-radius: 8.5px;
  font-weight: bolder;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
  color: black;

  &:hover {
    scale: 105%;
    background-color: black;
    color: white;
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.popupBox {
  overflow-y: scroll;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  height: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closePopupBtn {
  position: sticky;
  margin: 10px auto;
  bottom: 0;
  left: 0;
  width: 60%;
  max-width: 250px;
  border: none;
  outline: none;
  padding: 5.5px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: all 300ms linear;
  background-color: rgb(41, 41, 41);
  margin: 10px auto;

  &:hover {
    background-color: #979797;
    scale: 105%;
    color: white;
  }
}

.inventoryReserve {
  font-weight: bolder;
  color: #ac590b;
}
