button.reciveBtn {
  width: 95px;
  height: 25px;
  border-radius: 5.5px;
  font-weight: bolder;
  background-color: rgb(38, 104, 228);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 300ms linear;
  &:hover {
    background-color: white;

    color: rgb(38, 104, 228);
  }
}
button.sendBtn {
  width: 95px;
  height: 25px;
  border-radius: 5.5px;
  font-weight: bolder;
  background-color: rgb(13, 105, 25);
  border: none;
  color: white;
  cursor: pointer;
  transition: all 300ms linear;
  &:hover {
    background-color: white;

    color: rgb(13, 105, 25);
  }
}

.uploaderDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  .alertContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;
    .alertStatusSuccess {
      font-weight: bolder;
      color: rgb(13, 105, 25);
    }
    .alertStatusFailed {
      font-weight: bolder;
      color: rgb(151, 14, 9);
    }
  }
  input {
    display: none;
  }
  label {
    width: 95px;
    height: 25px;
    border-radius: 5.5px;
    font-weight: bolder;
    background-color: rgb(33, 33, 33);
    border: none;
    color: white;
    cursor: pointer;
    transition: all 300ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: white;

      color: rgb(33, 33, 33);
    }
  }
  .fileName {
    font-size: 13px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bolder;
  }
}
